/* =========================================
   RESET
========================================= */

* {
    box-sizing: border-box;
}


html,
body {

    margin: 0;

    padding: 0;

}


body {

    color: #18212b;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

}


/* =========================================
   HEADER
========================================= */

header {

    height: 80px;

    background-color: rgb(2, 2, 81);

    display: flex;

    align-items: center;

    justify-content: center;

    color: white;

    border-bottom-left-radius: px;

    border-bottom-right-radius: 6px;

}


header h1 {

    margin: 0;

    font-size: 30px;

}


/* =========================================
   INPUT PAGE
========================================= */

.page-layout {

    display: block;

    margin-top: 60px;

}


.layout {

    max-width: 1500px;

    margin: auto;

    padding: 20px;

}


/* =========================================
   INPUT BAR
========================================= */

.input-bar {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;

}


/* =========================================
   PANEL
========================================= */

.panel {

    background: linear-gradient(to right, rgb(16, 112, 237), #1824c9);

    padding: 15px;

    min-height: 300px;

    width: 350px;

    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition: transform 0.4s ease;

    opacity: 2.0;

}

.panel:hover {

    transform: scale(1.1);

    opacity: 50;

}

.panel h2 {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: yellow;

    font-size: 25px;

    margin:
        0 0 12px;

}

.panel input{

    height: 50px;

}

/* =========================================
   UPLOAD
========================================= */

.upload {

    display: block;

    border:
        2px solid black;

    padding: 20px;

    border-radius: 8px;

    background-color: #e8f1ff;

    margin-top: 45px;

    cursor: pointer;

    color: #111;


}


.upload input {

    display: block;

    width: 100%;

    margin-top: 50px;

}



/* =========================================
   DOWNLOAD EXCEL FORMAT
========================================= */

.download-excel-btn {

    width: 100%;

    margin-top: 35px;

    padding: 12px;

    border: 2px solid white;

    border-radius: 8px;

    background: #b30441;

    color: white;

    font-size: 13px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;

}


.download-excel-btn:hover {

    background: black;

    color: white;

    transform: translateY(-2px);

}


/* =========================================
   INPUT
========================================= */

.panel label:not(.upload) {

    display: block;

    font-size: 12px;

    color: white;

    font-weight: bold;

    margin: 10px 0;

}


.panel label:not(.upload) input {

    width: 100%;

    padding: 8px;

    border:
        1px solid black;

    border-radius: 6px;

    margin-top: 5px;

}


/* =========================================
   COLORS Code visible
========================================= */

.colors div{

    height: 45px;
    
    width: 100%;

    margin-top: 7px;

    border-radius: 8px;
    
}


/* =========================================
   STATUS
========================================= */

.status {

    font-size: 20px;

    font-weight: 900;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;

    margin-top: 20px;

}


small {

    font-size: 12px;

    color: white;

}


/* =========================================
   BUTTONS
========================================= */

.btn-container {

    margin-top: 40px;

    display: flex;

    justify-content: center;

    gap: 40px;

    flex-wrap: wrap;

    padding: 10px;

}


.btn-container button {

    width: 480px;

    height: 58px;

    border-radius: 10px;

    outline: none;

    border: 1.5px solid;

    cursor: pointer;

    font-size: 15px;

    font-weight: bold;

    transition: transform 0.4s ease;

    

}


.btn-container button:hover {

    transform: translatey(-10px);

    opacity: 20;

}


.generate-btn {

    background: linear-gradient(to right, dodgerblue , blue);

    color: white;

}


.pdf-btn {

    display: none;

    background: linear-gradient(to right, rgb(4, 91, 4) , lime);

    color: white;

}

.excel-card-btn{

    display: none;

    background: linear-gradient(to right, rgb(1, 17, 64) , navy);

    color: white;

}

.word-btn{

    display: none;

    background: linear-gradient(to right, rgb(128, 128, 114) , rgb(10, 10, 10));

    color: white;

}

.print-btn {

    display: none;

    background: linear-gradient(to right, rgb(134, 2, 110) , rgb(242, 13, 105));

    color: white;

}


.clear-btn {

    background: linear-gradient(to right, rgb(115, 3, 3) , rgb(255, 4, 4));

    color: white;

}


/* =========================================
   CARDS CONTAINER
========================================= */

.cards-container {

    display: none;

    width: 100%;

    margin: 30px auto;

}


.cards-container.active {

    display: block;

}


/* =========================================
   A4 PAGE
========================================= */

.a4-page {

    width: 210mm;

    height: 297mm;

    margin: 20px auto;

    padding: 12.875mm 13.5mm;

    background: white;

    display: grid;

    grid-template-columns: 90mm 90mm;

    grid-template-rows:
        repeat(4, 56.25mm);

    column-gap: 10mm;

    row-gap: 12mm;

    align-content: start;

    justify-content: center;

    box-shadow:
        0 3px 15px rgba(0, 0, 0, 0.20);

}


/* =========================================
   ID CARD
========================================= */

.id-card {

    width: 84.9mm;

    height: 51.14mm;

    border:
        2px solid black;

    position: relative;

    overflow: hidden;

    font-family:
        Calibri,
        Arial,
        sans-serif;

    background: white;

}


.card-template {

    display: none !important;

}


/* =========================================
   CARD HEADER
========================================= */

.card-header {

    height: 33%;

    display: grid;

    grid-template-columns:
        31% 69%;

    border-bottom:
        2px solid #111;

    background: white;

}


/* =========================================
   LOGO
========================================= */

.logo-area {

    background: white;

    border-right:
        2px solid #111;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 1mm;

    overflow: hidden;

}


.company-logo {

    margin-top: 7px;

    width: 100%;

    height: 170%;

    object-fit: contain;

}


/* =========================================
   COMPANY
========================================= */

.company-area {

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding:
        1mm 2mm;

}


.company-name {


    font-size: 3mm;

    font-weight: 700;

    line-height: 1.12;

    color: #000;

}


.address1 {

    font-size: 2.7mm;

    font-weight: 700;

    line-height: 1.12;

    color: #000;

}

.address2 {

    font-size: 2.7mm;

    font-weight: 700;

    line-height: 1.12;

    color: #000;

}

.address3 {

    font-size: 2.7mm;

    font-weight: 700;

    line-height: 1.12;

    color: #000;

}


/* =========================================
   CARD BODY
========================================= */

.card-body {

    height: 65%;

    position: relative;

}


/* =========================================
   PHOTO
========================================= */

.photo-box {

    position: absolute;

    left: 1.3mm;

    top: 1.2mm;

    width: 25mm;

    height: 31mm;

    background: white;

    border:
        1.5px solid black;

    display: flex;

    align-items: center;

    justify-content: center;

    overflow: hidden;

}


.employee-photo {

    width: 100%;

    height: 100%;

    object-fit: cover;

    display: none;

}


.employee-photo.loaded {

    display: block;

}


.photo-placeholder {

    font-size: 2.5mm;

    color: black;

    font-weight: bold;

}


/* =========================================
   DETAILS
========================================= */

.details {

    position: absolute;

    left: 28.2mm;

    top: 0.8mm;

    right: 2.8mm;

    color: #174a82;

    font-size: 2.75mm;

    font-weight: 900;

    font-family:
        Calibri,
        Arial,
        sans-serif;

}


.detail {

    display: grid;

    grid-template-columns:
        20mm 3mm 1fr;

    line-height: 1.45;

    white-space: nowrap;

}


.detail strong {

    color: #111;

    overflow: hidden;

    text-overflow: ellipsis;

    position: relative;

    right: 4mm;

}


.detail b {

    color: #174a82;

    position: relative;

    right: 3.5mm;

}


/* =========================================
   SIGNATURE
========================================= */

.signature-area {

    position: absolute;

    right: 0.4mm;

    bottom: 1mm;

    text-align: center;

    min-width: 25mm;

}


.signature {

    display: block;

    max-width: 28mm;

    max-height: 10mm;

    object-fit: contain;

    margin:
        0 auto -2mm;

}


.authority {

    font-size: 2.6mm;

    font-weight: 800;

    color: #111;

    white-space: nowrap;

}


/* =========================================
   GENERATED CARD
========================================= */

.generated-card {

    display: block;

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 900px) {

    .a4-page {

        transform-origin: top center;

        transform: scale(0.8);

        margin-bottom: -55px;

    }

}


@media (max-width: 700px) {

    .a4-page {

        transform: scale(0.55);

        margin-bottom: -130px;

    }


    .btn-container {

        gap: 10px;

    }


    .btn-container button {

        width: 180px;

    }

}


/* =========================================
   PRINT
========================================= */

@page {

    size: A4 portrait;

    margin: 0;

}


@media print {

    html,
    body {

        margin: 0;

        padding: 0;

        background: white;

    }


    header,
    .page-layout,
    footer {

        display: none !important;

    }


    .cards-container {

        display: block !important;

        margin: 0;

        padding: 0;

    }


    .a4-page {

        width: 210mm;

        height: 297mm;

        margin: 0;

        padding:
            3.875mm 13.5mm;

        box-shadow: none;

        display: grid;

        grid-template-columns:
            90mm 90mm;

        grid-template-rows:
            repeat(4, 56.25mm);

        column-gap: 3mm;

        row-gap: 3mm;

        page-break-after: always;

        break-after: page;

    }


    .a4-page:last-child {

        page-break-after: auto;

        break-after: auto;

    }


    .id-card {

        width: 90mm;

        height: 56.25mm;

        box-shadow: none;

    }

}